# Node / Next.js build outputs
node_modules/
.next/
out/

# Amplify Gen2 temporary & outputs
amplify/outputs.json
amplify/.temp/

# Env / secrets
.env*

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
.vscode/
.idea/
